.dub
dub.selections.json
docs.json
__dummy.html
docs/
allele_counter.so
allele_counter.dylib
allele_counter.dll
allele_counter.a
allele_counter.lib
allele_counter-test-*
*.exe
*.o
*.obj
*.lst
allele_counter
data/
